<main>
    <div class="user-details-card">
        <div class="row">
            <div class="col-sm">
                <p>{{userInfo.firstName}}</p>
                <p>{{userInfo.lastName}}</p>
                <p>{{userInfo.emailId}}</p>
                <p>{{userInfo.age}}</p>
                <p> {{userInfo.gender}}</p>
                <p>{{userInfo.aboutMe}}</p>
                <p> {{userInfo.nationality}}</p>
                <p>Preferences</p>
                    {{#each userInfo.preference}}
                        {{@key}} : {{this}} <br>
                    {{/each}}
            </div>
        </div>
    </div>

    <div class="userPostDisplay">
        <button id="allUserPostsButton">Your Posts</button>
        <button id="allUserSavedPostsButton">Your Saved Posts</button>
        <div class="your-posts" id="yourPosts" style="display: none;">
            {{#each userInfo.postId}}
                <a href="http://localhost:3000/posts/{{this}}">{{this}} </a>
            {{/each}}
        </div>
        <div class="your-saved-posts" id="yourSavedPosts" style="display: none;">
            {{#each userInfo.savedPost}}
                <a href="http://localhost:3000/users/myProfile/savedPost/{{this}}">{{this}} </a>
            {{/each}}        </div>
    </div>

    <script>
        document.getElementById("allUserPostsButton").addEventListener("click", function(){
            document.getElementById("yourPosts").style.display = 'block';
            document.getElementById("yourSavedPosts").style.display = 'none';
        });
        document.getElementById("allUserSavedPostsButton").addEventListener("click", function(){
            document.getElementById("yourPosts").style.display = 'none';
            document.getElementById("yourSavedPosts").style.display = 'block';
        });
    </script>
</main>
