{{!-- all user handlebars --}}
<main>
<<<<<<< HEAD
    <div class="user-details-card">
        <div class="row">
            
            <div class="col-sm">
                <p>{{userInfo.firstName}}</p>
                <p>{{userInfo.lastName}}</p>
                <p>{{userInfo.emailId}}</p>
                <p>{{userInfo.age}}</p>
                <p> {{userInfo.gender}}</p>
                <p>{{userInfo.aboutMe}}</p>
                <p> {{userInfo.nationality}}</p>
                <p>Preferences</p>
                    {{#each userInfo.preference}}
                        {{@key}} : {{this}} <br>
                    {{/each}}
            </div>
        </div>
    </div>
</main>
=======
    <div class="search-card">
        <form id="search-form" method="POST" action="/search">
            <input id="search-bar" type="text" name="search" class = "searchFields" placeholder="Search a user or post" />
            <input type="submit" class = "btn" value="Search" />
        </form>
    </div>
    {{#each user}}
    <div class="user-details-card">
        <div class="row">
            <div class="col-sm">
                <img src="/users/userpic/{{this._id}}" alt="User Photo" class="userPhoto"></img>
            </div>
            <div class="col-sm">
                <p>{{user.usernameInput}}</p>
                <h2>{{user.emailInput}}</h2>
                <p>{{user.phoneInput}}</p>
                <p>{{user.genderInput}}</p>
                <p>{{user.nationalityInput}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</main>
>>>>>>> b9b22e2 (Added user handlebars)
