<main>
<<<<<<< HEAD
    <div class="user-posts-list">
        <ul>  
            {{#each all_post}}              
            <li>
            <h2>{{this.postTitle}}</h2>
            <p>{{this.userId}}</p>
            <p>{{this.postDate}}</p>
               <p>Preferences :</p>
            {{#each this.preference}}
             {{@key}} : {{this}} <br>
            {{/each}}
            <p>Apartment Details :</p>
            <p>{{this.postBody}}</p>

            <p>Photos :</p>
            <img src="/posts/postpic/{{this._id}}" alt="Apartment Photo" class="aptPhoto"></img>
            </li>
            {{/each}}
        </ul>
=======
    <div class="container-post">
        <div class="block-posts">

            <!-- Display (User Picture) -->
            <div class="col-sm">
                Image
            </div>

            <!-- Display (Username) -->
            <label class="enterUser" for="usernameInput">Username :</label>
            <p>Username</p>


            <!-- Display Email -->
            <label class="userEmail" for="emailInput">Email :</label>
            <p>Email</p>


            <!-- Display Phone No. -->
            <label class="userPhone" for="phoneInput">Phone No :</label>
            <p>Phone No</p>


            <!-- Display Gender -->
            <label class="userGender" for="genderInput">Gender :</label>
            <p>Gender</p>


            <!-- Display Nationality -->
            <label class="userEmail" for="nationalityInput">Nationality :</label>
            <p>Nationality</p>

            <p>Your Posts</p>


            <div class="post-details">

                {{#each userPost}}

                <span>
                    Picture
                </span>

                <h2>Apartment</h2>
                <p>Price:</p>
                <p>Location:</p>
                <p>Date Posted</p>
                <p>User Posted</p>
                <p>Know More</p>

                {{/each}}

            </div>

            {{!-- <p>Liked Posts</p>


            <div class="post-details">

                {{#each userLikedPost}}

                <span>
                    Picture
                </span>


                <h2>Apartment</h2>
                <p>Price:</p>
                <p>Location:</p>
                <p>Date Posted</p>
                <p>User Posted</p>
                <p>Know More</p>

                {{/each}}

            </div> --}}

        </div>
>>>>>>> b9b22e2 (Added user handlebars)
    </div>
</main>