<main>

    <div class="container">

        <div class="card mt-3 mb-3 shadow-sm p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="outer-card">
                    <div class="saved-posts">

                        <div id="box" class="divHidden"></div>

                        <form method="post" action="/users/myProfile/savedPosts/{{posts._id}}" target="frame">

                            <button id="btn" class="btn btn-success pull-right" type="submit" onclick="showAlert();"><i
                                    class="bi bi-save"></i> Save
                                Post</button><br><br>


                            <div class="container" style="display:none;" id="myAlert">
                                <div class="alert alert-success alert-dismissable" id="myAlert2">
                                    <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;</button>
                                    This post has been saved!
                                </div>

                            </div>

                        </form>

                    </div>
                    <div class="post-details">

                        <br>

                        <div class="flex-container">

                            <div class="flex-child magenta">
                                <h2>{{posts.postTitle}}</h2>
                            </div>

                            <div class="flex-child green pull-right">
                                <p class="text-end">{{posts.userId}}</p>
                            </div>

                        </div>


                        <p class="fontDate"><em>Date Posted: </em>{{posts.postDate}}</p>

                        <p>Preferences : </p>
                        {{#each posts.preference}}
                        <p class="fit-contents-p textIndent">
                            {{@key}} : {{this}} <br>
                        </p>
                        {{/each}}

                        <p>Apartment Details :</p>
                        <p class="textIndent">{{posts.postBody}}</p>

                        <p>Photos :</p>

                        <img src="/posts/postpic/{{posts._id}}" alt="Apartment Photo" class="aptPhoto"></img>
                    </div>
                </div>
                <div class="card card-map mb-2 mx-auto" id="gmap" style="height:400px; width:100%;"></div>

                <!-- Some restaurants already have a pin on Google maps, and manual pin is somewhat inaccurate due to our estimation -->
                {{!-- <div class="HoverDiv">

                    <!--

                        <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/279319209.jpg?k=fa11770fb7da068fd656ebc055c3acdd4f364be2fa2ced61638cb46bdcfd7dc0&o="
                            alt="Apartment Photo" class="aptPhoto mb-2" />

                        -->

                    <img src="/posts/postpic/{{posts._id}}" alt="Apartment Photo" class="aptPhoto mb-2" />

                </div> --}}
                <div class="card postcomments px-2">
                    <input type="hidden" name="post_id" id="post_id" value="{{posts._id}}" />
                    {{#if canComment}}
                    {{!-- <p class="form-group">Enter a comment</p> --}}
                    <div class="mt-2">
                        <form id="comments-form" method="POST" action="/comments/{{posts._id}}">
                            <div class="form-group">

                                <label class="commentText" for="commentText">Enter a
                                    comment</label>
                                <div class="input-group mb-3">
                                    <br>
                                    <input type="text" class="form-control" id="commentText" name="commentText"
                                        placeholder="Enter comment here" />
                                    <div class="input-group-append">
                                        <span class="input-group-button" id="basic-addon2"><button type="submit"
                                                class="btn btn-primary">Create</button></span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div id="empty-comment" class="alert alert-info div-text" hidden></div>
                    {{/if}}
                </div>

                <div class="card postcomments mt-2 px-2">

                    {{!-- <div class="mt-2">

                        <form id="comments-form" method="POST" action="/comments/{{posts._id}}">

                            <div class="form-group">
                                <label class="commentText" for="commentText"><strong>Enter a
                                        comment</strong></label>


                                <div class="input-group mb-3">
                                    <br>
                                    <input type="text" class="form-control" id="commentText" name="commentText"
                                        placeholder="Enter comment here" />
                                    <div class="input-group-append">
                                        <span class="input-group-button" id="basic-addon2"><button type="submit"
                                                class="btn btn-primary">Create</button></span>
                                    </div>
                                </div>

                            </div>


                        </form>

                    </div> --}}

                    <div class=" card comment-area px-2 mt-2 mb-2" id="comment-area">
                        {{#each posts.comments}}
                        {{@key}} : {{this.userId}}<br>
                        {{this.commentText}}<br>
                        <hr>
                        {{/each}}
                    </div>
                </div>
            </div>
            </d iv>
        </div>

        <iframe name="frame" style="display: none;"></iframe>


    </div>

    <script src="/public/js/maps.js" latitude={{posts.latitude}} longitude={{posts.longitude}}></script>

    <script>
        function showAlert() {
            if ($("#myAlert").find("div#myAlert2").length == 0) {
                $("#myAlert").append("<div class='alert alert-success alert-dismissable' id='myAlert2'> <button type='button' class='close' data-dismiss='alert'  aria-hidden='true'>&times;</button> Success! message sent successfully.</div>");
            }
            $("#myAlert").css("display", "");
        }

        const btn = document.getElementById('btn');

        btn.addEventListener('click', () => {
            // 👇️ hide button (still takes up space on page)
            btn.style.visibility = 'hidden';

            // 👇️ show div
            const box = document.getElementById('box');
            box.style.visibility = 'visible';
        });
    </script>

</main>

<script src="/public/js/comment-ajax.js"></script>
<script src="/public/js/comment.js"></script>