<!-- all handlerbars -->
<main>

  <div class="container test">

    <br />

    {{#each searchList}}
      <div class="card post-details-card mb-3">
        <div class="card-body">

          <div class="row">
            <div class="col-sm">
              <img
                src="/posts/postpic/{{this._id}}"
                alt="Apartment Photo"
                class="aptPhoto"
              />

            </div>
            <div class="col-sm">

              <a href="/posts/{{this._id}}">
                <h2>{{this.postTitle}}</h2>
              </a>
              <p>Location:{{this.preference.location}}</p>
              <p class="postBodyText">{{this.postBody}} </p>

              <p>Date Posted:{{this.postDate}}</p>
            </div>
            <div class="col-sm">
              <p class="text-end">{{this.userId}}</p>

            </div>
          </div>
        </div>

      </div>
    {{/each}}

    {{#if hasErrors}}
      <ul id="error-list" class="error-list">
        {{#each errors}}
          <li>
            {{this}}
          </li>
        {{/each}}
      </ul>
    {{/if}}

  </div>
</main>